<aside class="sidebar full-style">
  <div class="widget">
    <h4 class="widget-title"><%= t("Statistical") %></h4>
    <ul class="forum-static">
      <li>
        <a href="" title=""><%= t("Total_Tours") %></a>
        <span><%= @tours.size %></span>
      </li>
      <li>
        <a href="" title=""><%= t("Total_Status") %></a>
        <span><%= @statuses.size %></span>
      </li>
      <li>
        <a href="" title=""><%= t("Total_follow") %></a>
        <span>14</span>
      </li>
    </ul>
  </div>
</aside>
