<aside class="sidebar static">
  <div class="widget">
    <h4 class="widget-title"><%= I18n.t ".SHORTCUTS" %></h4>
    <ul class="naves">
      <li>
        <i class="ti-clipboard"></i>
        <a href="newsfeed.html" title=""> <%= I18n.t ".News_Feed" %></a>
      </li>
      <li>
        <i class="ti-mouse-alt"></i>
        <a href="inbox.html" title=""><%= I18n.t ".Inbox" %></a>
      </li>
      <li>
        <i class="ti-files"></i>
        <a href="fav-page.html" title=""><%= I18n.t ".My_Pages" %></a>
      </li>
      <li>
        <i class="ti-user"></i>
        <a href="timeline-friends.html" title=""><%= I18n.t ".Friends" %></a>
      </li>
      <li>
        <i class="ti-bell"></i>
        <a href="notifications.html" title=""><%= I18n.t ".Notifications" %></a>
      </li>
    </ul>
  </div><!-- Shortcuts -->
  <div class="widget stick-widget">
    <h4 class="widget-title"><%= I18n.t ".Who_is_following" %></h4>
    <ul class="followers">
      <li>
        <figure><%= image_tag  "friend-avatar2.jpg" %></figure>
        <div class="friend-meta">
          <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
          <a href="#" title="" class="underline">Add Friend</a>
        </div>
      </li>
      <li>
        <figure><%= image_tag  "friend-avatar4.jpg" %></figure>
        <div class="friend-meta">
          <h4><a href="time-line.html" title="">Issabel</a></h4>
          <a href="#" title="" class="underline">Add Friend</a>
        </div>
      </li>
      <li>
        <figure><%= image_tag  "friend-avatar6.jpg" %></figure>
        <div class="friend-meta">
          <h4><a href="time-line.html" title="">Andrew</a></h4>
          <a href="#" title="" class="underline">Add Friend</a>
        </div>
      </li>
      <li>
        <figure><%= image_tag  "friend-avatar8.jpg" %></figure>
        <div class="friend-meta">
          <h4><a href="time-line.html" title="">Sophia</a></h4>
          <a href="#" title="" class="underline">Add Friend</a>
        </div>
      </li>
      <li>
        <figure><%= image_tag  "friend-avatar3.jpg" %></figure>
        <div class="friend-meta">
          <h4><a href="time-line.html" title="">Allen</a></h4>
          <a href="#" title="" class="underline">Add Friend</a>
        </div>
      </li>
    </ul>
  </div><!-- who's following -->
</aside>

