<div class="col-lg-3">
  <aside class="sidebar static">
    <div class="widget">
      <h4 class="widget-title"><%= I18n.t ".Your_Page" %></h4>
      <div class="your-page">
        <figure>
          <a href="#" title=""><%= image_tag "friend-avatar9.jpg" %></a>
        </figure>
        <div class="page-meta">
          <a href="#" title="" class="underline"><%= I18n.t ".My_Page" %></a>
          <span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
          <span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
        </div>
        <div class="page-likes">
          <ul class="nav nav-tabs likes-btn">
            <li class="nav-item"><a class="active" href="#link1" data-toggle="tab"><%= I18n.t ".Likes" %></a></li>
             <li class="nav-item"><a class="" href="#link2" data-toggle="tab">
              <%= I18n.t ".Views"  %></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active fade show " id="link1" >
            <span><i class="ti-heart"></i>884</span>
              <a href="#" title="weekly-likes">35 new likes this week</a>
              <div class="users-thumb-list">
              <a href="#" title="Anderw" data-toggle="tooltip">
                <%= image_tag "userlist-1.jpg" %>
              </a>
              <a href="#" title="frank" data-toggle="tooltip">
                <%= image_tag "userlist-2.jpg" %>
              </a>
              <a href="#" title="Sara" data-toggle="tooltip">
                <%= image_tag "userlist-3.jpg" %>
              </a>
              <a href="#" title="Amy" data-toggle="tooltip">
                <%= image_tag "userlist-4.jpg" %>
              </a>
              <a href="#" title="Ema" data-toggle="tooltip">
                <%= image_tag "userlist-5.jpg" %>
              </a>
              <a href="#" title="Sophie" data-toggle="tooltip">
                <%= image_tag "userlist-6.jpg" %>
              </a>
              <a href="#" title="Maria" data-toggle="tooltip">
                <%= image_tag "userlist-7.jpg" %>
              </a>
              </div>
            </div>
            <div class="tab-pane fade" id="link2" >
              <span><i class="ti-eye"></i>440</span>
              <a href="#" title="weekly-likes">440 new views this week</a>
              <div class="users-thumb-list">
              <a href="#" title="Anderw" data-toggle="tooltip">
                <%= image_tag "userlist-1.jpg" %>
              </a>
              <a href="#" title="frank" data-toggle="tooltip">
                <%= image_tag "userlist-2.jpg" %>
              </a>
              <a href="#" title="Sara" data-toggle="tooltip">
                <%= image_tag "userlist-3.jpg" %>
              </a>
              <a href="#" title="Amy" data-toggle="tooltip">
                <%= image_tag "userlist-4.jpg" %>
              </a>
              <a href="#" title="Ema" data-toggle="tooltip">
                <%= image_tag "userlist-5.jpg" %>
              </a>
              <a href="#" title="Sophie" data-toggle="tooltip">
                <%= image_tag "userlist-6.jpg" %>
              </a>
              <a href="#" title="Maria" data-toggle="tooltip">
                <%= image_tag "userlist-7.jpg" %>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- page like widget -->
    <div class="widget">
      <div class="banner medium-opacity bluesh">
        <div class="bg-image" ></div>
        <div class="baner-top">
          <span><%= image_tag "book-icon.png" %></span>
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <div class="banermeta">
          <p>
            <%= I18n.t ".CREATE_YOUR_OWN_FAVOURIT_PAGE" %>
          </p>
          <a data-ripple="" title="" href="#"><%= I18n.t ".Start_Now!" %></a>
        </div>
      </div>
    </div>
    <div class="widget friend-list stick-widget">
      <h4 class="widget-title"><%= I18n.t ".Friends" %></h4>
      <div id="searchDir"></div>
      <ul id="people-list" class="friendz-list">
        <li>
          <figure>
            <%= image_tag "friend-avatar.jpg" %>
            <span class="status f-online"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">bucky barnes</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f4839d9a809186879b98909186b49399959d98da979b99">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>
          <figure>
            <%= image_tag "friend-avatar2.jpg" %>
            <span class="status f-away"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">Sarah Loren</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4b292a39252e380b2c262a222765282426">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>
          <figure>
            <%= image_tag "friend-avatar3.jpg" %>
            <span class="status f-off"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">jason borne</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f29893819d9c90b2959f939b9edc919d9f">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>
          <figure>
            <%= image_tag "friend-avatar4.jpg" %>
            <span class="status f-off"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">Cameron diaz</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9ef4ffedf1f0fcdef9f3fff7f2b0fdf1f3">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>

          <figure>
            <%= image_tag "friend-avatar5.jpg" %>
            <span class="status f-online"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">daniel warber</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bed4dfcdd1d0dcfed9d3dfd7d290ddd1d3">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>

          <figure>
            <%= image_tag "friend-avatar6.jpg" %>
            <span class="status f-away"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">andrew</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1f757e6c70717d5f78727e7673317c7072">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>

          <figure>
            <%= image_tag "friend-avatar7.jpg" %>
            <span class="status f-off"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">amy watson</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="761c170519181436111b171f1a5815191b">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>

          <figure>
            <%= image_tag "friend-avatar5.jpg" %>
            <span class="status f-online"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">daniel warber</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fd979c8e92939fbd9a909c9491d39e9290">[email&#160;protected]</a></i>
          </div>
        </li>
        <li>

          <figure>
            <%= image_tag "friend-avatar2.jpg" %>
            <span class="status f-away"></span>
          </figure>
          <div class="friendz-meta">
            <a href="time-line.html">Sarah Loren</a>
            <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5b393a29353e281b3c363a323775383436">[email&#160;protected]</a></i>
          </div>
        </li>
      </ul>
      <div class="chat-box">
        <div class="chat-head">
          <span class="status f-online"></span>
        </figure>
        <div class="friendz-meta">
          <a href="time-line.html">daniel warber</a>
          <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fd979c8e92939fbd9a909c9491d39e9290">[email&#160;protected]</a></i>
        </div>
      </li>
      <li>
        <figure>
          <img src="images/resources/friend-avatar2.jpg" alt="">
          <span class="status f-away"></span>
        </figure>
        <div class="friendz-meta">
          <a href="time-line.html">Sarah Loren</a>
          <i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5b393a29353e281b3c363a323775383436">[email&#160;protected]</a></i>
        </div>
        <div class="chat-list">
          <ul>
            <li class="me">
              <div class="chat-thumb"><%= image_tag "chatlist1.jpg" %></div>
              <div class="notification-event">
                <span class="chat-message-item">
                  Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                </span>
                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
              </div>
            </li>
            <li class="you">
              <div class="chat-thumb"><%= image_tag "chatlist2.jpg" %></div>
              <div class="notification-event">
                <span class="chat-message-item">
                  Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                </span>
                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
              </div>
            </li>
            <li class="me">
              <div class="chat-thumb"><%= image_tag "chatlist1.jpg" %></div>
              <div class="notification-event">
                <span class="chat-message-item">
                  Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                </span>
                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
              </div>
            </li>
          </ul>
          <form class="text-box">
            <textarea placeholder="Post enter to post..."></textarea>
            <div class="add-smiles">
              <span title="add icon" class="em em-expressionless"></span>
            </div>
            <div class="smiles-bunch">
              <i class="em em---1"></i>
              <i class="em em-smiley"></i>
              <i class="em em-anguished"></i>
              <i class="em em-laughing"></i>
              <i class="em em-angry"></i>
              <i class="em em-astonished"></i>
              <i class="em em-blush"></i>
              <i class="em em-disappointed"></i>
              <i class="em em-worried"></i>
              <i class="em em-kissing_heart"></i>
              <i class="em em-rage"></i>
              <i class="em em-stuck_out_tongue"></i>
            </div>
          <button type="submit"></button>
        </form>
      </div>
    </div>
  </div><!-- friends list sidebar -->
</aside>
