<% if user_signed_in? %>
  <div id="comments_form">
    <%= form_for( :comment,url: comments_path, remote: true) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :commentable_id, value: commentable.id %>
        <%= f.hidden_field :commentable_type, value: commentable.class.name.downcase %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= f.submit I18n.t(".Comment"), class: "btn btn-primary xs" %>
    <% end %>
  </div>
<% else %>
  <button class="btn-comment" data-toggle="collapse"
  data-target="#comments_form" aria-expanded="false"
  aria-controls="collapseExample">
    <%= link_to "Login First", login_path, {:style=>"color:#FFFFFF;",
      :class => "css_class"} %>
  </button>
<% end %>
