 <div class="central-meta">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <%= image_tag status.user.image.image_link.to_s if status.user.image.present? %>
      </figure>
      <div class="top-area">
        <ul class="main-menu">
          <div class="friend-name">
            <ins><%= link_to status.user.name, "#" %></ins>
            <span><%= t("text.published") %>: <%= time_ago_in_words(status.created_at) %></span>
          </div>
        </ul>
        <ul class="main-menu" >
          <li>
            <a href="#" title="Setting" data-toggle="dropdown"></a>
            <ul>
              <li><%= link_to t("button.edit_post"), edit_status_path(status), remote: true %></li>
              <li><%= link_to t("button.delete"), status_path(status), method: :delete, data: {confirm: t("text.confirm")} %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="post-meta">
        <div class="description">
          <p>
           <%= status.content %>
          </p>
        </div>
        <%= image_tag status.image.image_link.to_s if status.image.present? %>
        <div id="comments-<%= status.id %>">
          <%= render "comments/comment_list", commentable: status %>
        </div>
        <div class="we-video-info">
          <ul>
            <li>
              <span class="views" data-toggle="tooltip" title="" data-original-title="views">
                <i class="fa fa-eye"></i>
                <ins></ins>
              </span>
            </li>
            <li>
              <%= link_to new_comment_path(commentable_id:
                status.id, commentable_type: "status"), class: "btn btn-basic btn-comment", data:{ toggle: "collapse" }, remote: true do %>
                <i class="fa fa-comments-o"></i>
              <% end %>
            </li>
            <li>
              <span class="like" data-toggle="tooltip" title="" data-original-title="like">
                <i class="ti-heart"></i>
                <ins></ins>
              </span>
            </li>
            <li>
              <span class="dislike" data-toggle="tooltip" title="" data-original-title="dislike">
                <i class="ti-heart-broken"></i>
                <ins></ins>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="<%= status.id %>" class="status">
    <%= render "comments/comment_form", commentable: status %>
  </div>
</div>
