 <div class="central-meta">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <%= image_tag status.user.image.image_link.to_s if status.user.image.present? %>
      </figure>
      <div class="top-area">
        <ul class="main-menu">
          <div class="friend-name">
            <ins><%= link_to status.user.name, user_path(status.user) %></ins>
            <span><%= t("text.published") %>: <%= time_ago_in_words(status.created_at) %></span>
          </div>
        </ul>
        <ul class="main-menu" style="float: right;" >
          <li>
            <ul style="position-right: 0px">
              <li><%= link_to t("button.edit_post"), edit_status_path(status), remote: true %></li>
              <li><%= link_to t("button.delete"), status_path(status), method: :delete, data: {confirm: t("text.confirm")} %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="post-meta">
        <div class="description">
          <p>
           <%= status.content %>
          </p>
        </div>
        <%= image_tag status.image.image_link.to_s if status.image.present? %>
        <div class="we-video-info">
          <ul>
            <li id="like-<%= status.id %>">
              <% if status.interactives.blank? %>
                <%= render "likes/like", status: status %>
              <% else %>
                <% status.interactives.each do |interactive| %>
                  <%= render "likes/dislike", status: status, interactive: interactive if interactive.user == current_user%>
                <% end %>
              <% end %>
            </li>
            </li>
            <li style="float: right;">
              <span data-toggle="tooltip" title="" data-original-title="share">
                <i class="fa fa-share-square"> 10 shares </i>
                <ins></ins>
              </span>
            </li>
            <li style="float: right;">
              <span data-toggle="tooltip" title="" data-original-title="comment">
                <%= link_to new_comment_path(commentable_id:
                  status.id, commentable_type: "status"), data:{ toggle: "collapse" }, remote: true do %>
                  <i class="fa fa-comments-o"> <%= status.comments.size %> comments</i>
                <% end %>
              </span>
          </ul>
        </div>
        <div id="<%= status.id %>" class="status">
          <%= render "comments/comment_form", commentable: status %>
        </div>
        <div id="comments-<%= status.id %>">
          <%= render "comments/comment_list", commentable: status %>
        </div>
      </div>
    </div>
  </div>
</div>
