<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="p-t-30 in">
        <li class="sidebar-item">
          <%= link_to admin_root_path, class: "sidebar-link waves-effect waves-dark sidebar-link active", aria: { expanded: "false" } do %>
            <i class="mdi mdi-view-dashboard"></i>
            <span class="hide-menu"><%= t("dashboard") %></span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to "#", class: "sidebar-link waves-effect waves-dark sidebar-link", aria: { expanded: "false" } do %>
            <i class="mdi mdi-chart-bar"></i>
            <span class="hide-menu"><%= t("statistical") %></span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admin_users_path, class: "sidebar-link waves-effect waves-dark sidebar-link", aria: { expanded: "false" } do %>
            <i class="mdi mdi-face"></i>
            <span class="hide-menu"><%= t("user_managerment") %></span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admin_statuses_path, class: "sidebar-link waves-effect waves-dark", aria: { expanded: "false" } do %>
            <i class="mdi mdi-relative-scale"></i>
            <span class="hide-menu"><%= t("status_managerment") %></span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admin_tours_path, class: "sidebar-link waves-effect waves-dark", aria: { expanded: "false" } do %>
            <i class="mdi mdi-receipt"></i>
            <span class="hide-menu"><%= t("tour_managerment") %></span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="mdi mdi-chart-bubble"></i>
            <span class="hide-menu"><%= t("other_managerment")%></span>
          </a>
          <ul class="collapse  first-level" id="homeSubmenu">
            <li class="sidebar-item">
              <%= link_to admin_places_path, class: "sidebar-link" do %>
                <i class="mdi mdi-note-plus"></i>
                <span class="hide-menu"><%= t("place_managerment")%></span>
              <% end %>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="javascript:void(0)" aria-expanded="false">
                <i class="mdi mdi-account-key"></i>
                <span class="hide-menu"><%= t("authentication") %></span>
              </a>
            </li>
          </ul>
      </li>
      </ul>
    </nav>
  </div>
</aside>
