<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin/application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="main-wrapper" data-sidebartype="mini-sidebar" class="mini-sidebar">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/sidebar" %>
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <% if notice %>
                <div class="alert alert-success alert-dismissible fade show">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p><%= notice %></p>
                </div>
              <% elsif alert %>
                <div class="alert alert-danger alert-dismissible fade show">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p><%= alert %></p>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render "layouts/admin/footer" %>
      </div>
    </div>
    <script>
      $('#zero_config').DataTable();
    </script>
  </body>
</html>
