<div class="col-lg-6">
  <div class="central-meta">
    <div class="editing-info">
      <h5 class="f-title"><i class="ti-info-alt"></i><%= I18n.t ".edit_profile" %></h5>
      <%= form_for @user do |f| %>
        <div class="form-group half">
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :name, class: "control-label", for: "input" %><i class="mtrl-select"></i>
        </div>
        <div class="form-group">
          <%= f.fields_for :image_attributes do |image_f| %>
            <%= image_f.file_field :image_link, class: "input-file previewIMG" %>
            <%= image_f.hidden_field :imageable_id, value: current_user.id %>
            <%= image_f.hidden_field :imageable_type, value: "user" %>
            <%= image_f.hidden_field :image_cache %>
          <% end %>
        </div>
        <div class="form-group">
          <%= image_tag @user.image.image_link.to_s if @user.image.present? %>
        </div>
        <div class="submit-btns">
          <%= f.submit I18n.t(".Update"), class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
