<section>
  <div class="feature-photo">
    <figure><%=image_tag "timeline-1.jpg", alt: "cover"%></figure>
    <div class="add-btn">
      <span>1205 followers</span>
      <a href="#" title="" data-ripple=""><%= I18n.t ".Add_Friend" %></a>
    </div>
    <form class="edit-phto">
      <i class="fa fa-camera-retro"></i>
      <label class="fileContainer">
        Edit Cover Photo
      <input type="file"/>
      </label>
    </form>
    <div class="container-fluid">
      <div class="row merged">
        <div class="col-lg-2 col-sm-3">
          <div class="user-avatar">
            <figure>
              <%= image_tag @user.image.image_link.to_s if @user.image.present? %>
              <%= form_for @user, :html => {class: "edit-phto" } do |f| %>
                <i class="fa fa-camera-retro"></i>
                  <%= f.fields_for :image_attributes do |image_f| %>
                    <%= image_f.file_field :image_link, class: "input-file previewIMG" %>
                    <%= image_f.hidden_field :imageable_id, value: current_user.id %>
                    <%= image_f.hidden_field :imageable_type, value: "user" %>
                    <%= image_f.hidden_field :image_cache %>
                  <% end %>
                  <%= f.submit I18n.t".Change_Avatar", class: "btn btn-primary btn-xs"  %>
              <% end %>
            </figure>
          </div>
        </div>
        <div class="col-lg-10 col-sm-9">
          <div class="timeline-info">
            <ul>
              <li class="admin-name">
                <h5><%= @user.name %></h5>
              </li>
              <li>
                <a class="active" href="time-line.html" title="" data-ripple="">
                  <%= I18n.t ".Timeline" %></a>
                <a class="" href="timeline-photos.html" title="" data-ripple="">
                  <%= I18n.t ".Photos" %>
                </a>
                <a class="" href="timeline-friends.html" title="" data-ripple="">
                  <%= I18n.t ".Friends" %>
                </a>
                <a class="" href="timeline-groups.html" title="" data-ripple="">
                  <%=I18n.t ".Groups" %>
                </a>
                <a class="" href="about.html" title="" data-ripple="">
                  <%= I18n.t ".about" %>
                </a>
                <%= link_to t("button.create_tour"), new_tour_path if @user.business? %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- top area -->
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                      <h4 class="widget-title"><%= I18n.t ".SOCIALS" %></h4>
                      <ul class="socials">
                        <li class="facebook">
                          <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
                        </li>
                        <li class="twitter">
                          <a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
                        </li>
                        <li class="google">
                          <a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
                        </li>
                      </ul>
                    </div>
                </aside>
                <%= render "sidebars/sidebar-1" %>
              </div>
              <div class="col-lg-6">
                <div class="loadMore">
                  <div class="central-meta">
                    <%= render "statuses/status_form", status: @status, user: @user %>
                  </div>
                  <div id="post">
                    <%= render "statuses/statuses", statuses: @statuses %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="modal" id="myModaledit">
</div>
