<section>
  <div class="feature-photo">
    <% if @user.business? %>
      <figure><%=image_tag "cover_56266579-20181006203011.png", alt: "cover"%></figure>
    <% else %>
      <figure><%=image_tag "timeline-1.jpg", alt: "cover"%></figure>
    <% end %>
    <div class="add-btn">
      <span style="color: black;"><b>1205 followers</b></span>
      <% if @user.business? && !current_user?(@user)%>
        <a href="#" title="" data-ripple=""><%= t("Follow") %></a>
      <% elsif @user.user? && !current_user?(@user) %>
        <a href="#" title="" data-ripple=""><%= I18n.t ".Add_Friend" %></a>
      <% end %>
    </div>
    <form class="edit-phto">
      <i class="fa fa-camera-retro"></i>
      <label class="fileContainer">
        Edit Cover Photo
      <input type="file"/>
      </label>
    </form>
    <div class="container-fluid">
      <div class="row merged">
        <div class="col-lg-2 col-sm-3">
          <div class="user-avatar">
            <figure>
              <%= image_tag @user.image.image_link.to_s if @user.image.present? %>
              <%= form_for @user, :html => {class: "edit-phto" } do |f| %>
                <i class="fa fa-camera-retro"></i>
                  <%= f.fields_for :image_attributes do |image_f| %>
                    <%= image_f.file_field :image_link, class: "input-file previewIMG" %>
                    <%= image_f.hidden_field :imageable_id, value: current_user.id %>
                    <%= image_f.hidden_field :imageable_type, value: "user" %>
                    <%= image_f.hidden_field :image_cache %>
                  <% end %>
                  <%= f.submit I18n.t".Change_Avatar", class: "btn btn-primary btn-xs"  %>
              <% end %>
            </figure>
          </div>
        </div>
        <div class="col-lg-10 col-sm-9">
          <div class="timeline-info">
            <ul class="nav nav-tabs">
              <li class="admin-name">
                <h5><%= @user.name %></h5>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#Timeline" class="nav-link active">
                  <%= t("Timeline")%>
                </a>
              </li>
              <% if @user.business? %>
                <li class="nav-item">
                  <a data-toggle="tab" href="#Statuses" class="nav-link">
                    <%= t("Statuses")%>
                  </a>
                </li>
              <% end %>
              <li class="nav-item">
                <a data-toggle="tab" href="#Photos" class="nav-link" >
                  <%= t("Photos") %>
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#About" class="nav-link" >
                  <%= I18n.t ".about" %>
                </a>
              </li>
              <% if @user.user? || @user.admin? %>
                <li class="nav-item">
                  <a data-toggle="tab" href="#Friend" class="nav-link" >
                    <%= I18n.t ".Friends" %>
                  </a>
                </li>
                <li class="nav-item">
                  <a data-toggle="tab" class="nav-link" href="#Group">
                    <%=I18n.t ".Groups" %>
                  </a>
                </li>
              <% elsif @user.business? && current_user?(@user) %>
                <li class="nav-item">
                  <a data-toggle="tab" href="#Statistical" class="nav-link">
                    <%= t("Statistical")%>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="tab-content">
  <div class="tab-pane active" id="Timeline">
    <section>
      <div class="gap gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="row" id="page-contents">
                <div class="col-lg-3">
                  <%= render "sidebars/sidebar-1" %>
                </div>
                <% if @user.user? || @user.admin? %>
                  <div class="col-lg-6">
                    <div class="loadMore">
                      <div class="central-meta">
                        <%= render "statuses/status_form", status: @status, user: @user%>
                      </div>
                      <div id="post">
                        <%= render "statuses/statuses", statuses: @statuses %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <%= render "sidebars/sidebar-2" %>
                  </div>
                <% else %>
                  <div class="col-lg-9">
                    <% @tours.each do |tour| %>
                      <div class="row col-lg-6" style="float: left;">
                        <div class="col-lg-12">
                          <%= render "tours/tour", tour: tour %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="Statistical">
    <section>
      <div class="gap gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 forum-warper post-filter-sec">
              <aside class="sidebar full-style">
                <%= render "sidebars/sidebar-4" %>
              </aside>
            </div>
            <div class="col-lg-9">
              <div class="forum-warper">
                <div class="post-filter-sec">
                  <form method="post" class="filter-form">
                    <input type="post" placeholder="Search post">
                    <button><i class="ti-search"></i></button>
                  </form>
                  <div class="purify">
                    <span>filter by</span>
                    <select style="display: none;">
                      <option>Assending A-Z</option>
                      <option>Desending Z-A</option>
                      <option>Desending (date)</option>
                      <option>Asending (date)</option>
                    </select>
                    <a href="#" title="">purify</a>
                  </div>
                </div>
              </div>
              <div class="forum-list post-filter-sec">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th scope="col"><%= t("text.tour") %></th>
                      <th scope="col"><%= t("text.views") %></th>
                      <th scope="col"><%= t("text.likes") %></th>
                      <th scope="col"><%= t("text.comments") %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @tours.each do |tour| %>
                      <tr>
                        <td>
                          <i class="fa fa-comments"></i>
                          <%= link_to tour.title, tour_path(tour) %>
                          <h6>Started by: <%= tour.created_at %></h6>
                        </td>
                        <td><%= tour.interactives.view.size %></td>
                        <td><%= tour.interactives.like.size %></td>
                        <td><%= tour.comments.size %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="Statuses">
    <section>
      <div class="gap gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="row" id="page-contents">
                <div class="col-lg-3">
                  <%= render "sidebars/sidebar-1" %>
                </div>
                <div class="col-lg-6">
                  <div class="loadMore">
                    <div class="central-meta">
                      <%= render "statuses/status_form", status: @status, user: @user%>
                    </div>
                    <div id="post">
                      <%= render "statuses/statuses", statuses: @statuses %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <%= render "sidebars/sidebar-2" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="modal" id="myModaledit">
</div>
