<div class="row">
  <div class="col-md-12">
    <h2 class="log-title" style = "text-align: center;">
      <%= I18n.t ".Forgot_your_password?" %>
    </h2>
    <div class="hehe">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %> : &nbsp;
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit (I18n.t ".Send_me_reset_password_instructions"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
