<%= link_to tour_path(tour) do %>
  <div class="central-meta" style="margin: 10px; height: 500px;">
    <div class="user-post">
      <div style="margin: 30px; height: 170px">
        <%= image_tag tour.image.image_link.to_s if tour.image %>
      </div>
      <div class="description">
        <h3 style="height: 70px; overflow: hidden;"><%= link_to tour.title, tour_path(tour) %></h3>
        <div class="row">
          <div class="col-lg-7">
            <h6><%= t("cost") %></h6>
            <h6><%= t("time") %></h6>
            <h6><%= t("place") %></h6>
            <h6><%= t("vehicle") %></h6>
          </div>
          <div class="col-lg-5">
            <h6>:<%= tour.cost %></h6>
            <h6>:<%= tour.time %></h6>
            <h6>:<%= tour.place.name if tour.place %></h6>
            <h6>:<%= tour.vehicle %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
