<div class="g-post-classic">
  <figure>
    <%= image_tag tour.image.image_link.to_s if tour.image %>
    <i class="fa fa-image"></i>
  </figure>
  <div class="g-post-meta">
    <div class="post-title">
      <h4 style="height: 80px; overflow: hidden;"><%= link_to tour.title, tour_path(tour) %></h4>
      <span class="p-date">by <%= link_to tour.user.name, user_path(tour.user) %> - <%= time_ago_in_words(tour.created_at) %></span>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <h6><%= t("cost") %></h6>
        <h6><%= t("time") %></h6>
        <h6><%= t("place") %></h6>
        <h6><%= t("vehicle") %></h6>
      </div>
      <div class="col-lg-7">
        <h6>:<%= tour.cost %></h6>
        <h6>:<%= tour.time %></h6>
        <h6>:<%= tour.place.name if tour.place %></h6>
        <h6>:<%= tour.vehicle %></h6>
      </div>
    </div>
    <div class="g-post-ranking">
      <a class="views"><i class="fa fa-eye"></i>
        <%= tour.interactives.view.size %> <%= t("text.views") %>
      </a>
      <a class="likes"><i class="fa fa-heart-o"></i>
        <%= tour.interactives.like.size %> <%= t("text.likes") %>
      </a>
      <a class="coments"><i class="fa fa-comment-o"></i>
        <%= tour.comments.size %> <%= t("text.comments") %>
      </a>
    </div>
  </div>
</div>
