<div class="theme-layout">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="central-meta">
          <div class="user-post">
            <div class="row">
              <div class="col-lg-12">
                <div class="row" id="page-contents">
                  <div style="margin: 20px;">
                    <h3><%= @tour.title %></h3>
                    <% if @tour.user == current_user %>
                      <%= link_to t("button.edit_tour"), edit_tour_path(@tour) %> -
                      <%= link_to t("button.delete"), @tour, method: :delete, data: {confirm: t("text.confirm")} %>
                    <% end %>
                  </div>
                  <div class="col-lg-8">
                    <div id="post">
                      <div class="central-meta">
                        <div class="user-post">
                          <div style="margin: 20px; width: 40%; height: 30%">
                            <%= image_tag @tour.image.image_link.to_s if @tour.image %>
                          </div>
                        </div>
                        <div class="detail-meta" style="margin: 0px;">
                          <div class="post-time">
                            <div class="author-thumb" style="width: 5%">
                              <%= image_tag @tour.user.image.image_link.to_s if @tour.user.image %>
                            </div>
                            <span>by <%= @tour.user.name %></span>
                            <span class="post-date">
                              <i class="fa fa-calendar"></i>
                              <%= time_ago_in_words(@tour.created_at) %>
                            </span>
                            <span class="coments">
                              <i class="fa fa-comments"></i>
                              <a title="" href="#">0</a>
                            </span>
                          </div>
                        </div>
                        <div>
                          <%= @tour.content.html_safe %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="central-meta">
                      <div class="user-post">
                        <div class="description">
                          <h5><%= link_to @tour.title, tour_path(@tour) %></h5>
                          <div class="row">
                            <div class="col-lg-7">
                              <h6><%= t("cost") %></h6>
                              <h6><%= t("time") %></h6>
                              <h6><%= t("place") %></h6>
                              <h6><%= t("vehicle") %></h6>
                            </div>
                            <div class="col-lg-5">
                              <h6>:<%= @tour.cost %></h6>
                              <h6>:<%= @tour.time %></h6>
                              <h6>:<%= @tour.place.name if @tour.place %></h6>
                              <h6>:<%= @tour.vehicle %></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
