<div class="theme-layout">
  <section>
    <div class="ext-gap high-opacity">
      <div class="content-bg-wrap" style="background: url(http://res.cloudinary.com/thaophuong1997/image/upload/v1560483352/jmfxefyzw4xx29i4k4e4.jpg)"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="top-banner">
              <h1><b><%= t("slogan") %></b></h1>
              <h5 style="color: #ffffff"><b><%= t("slogan_small") %></b></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="gap">
      <div class="container-fluid">
        <div class="row" id="page-contents">
          <div class="col-lg-3">
            <%= render "sidebars/sidebar-3" %>
          </div>
          <div class="col-lg-9">
            <div class="blog-sec right-pading">
              <div class="post-filter-sec">
                <%= search_form_for @q, url: root_path, class: "filter-form" do |f| %>
                  <%= f.search_field :title_or_time_or_vehicle_or_cost_cont, placeholder: t("Search_post"), type: "post" %>
                  <button><i class="ti-search"></i></button>
                <% end %>
                <div class="purify">
                  <span>filter by</span>
                  <select style="display: none;">
                    <option>All categories</option>
                    <option>By Favouirtes</option>
                    <option>By Likes</option>
                  </select>
                  <select style="display: none;">
                    <option>Assending A-Z</option>
                    <option>Desending Z-A</option>
                    <option>Desending (date)</option>
                    <option>Asending (date)</option>
                  </select>
                  <a href="#" title="">purify</a>
                </div>
              </div>
              <div class="row">
                <div class="section-heading">
                  <h2><%= t("text.tour_newest") %></h2>
                </div>
                <% if params[:q] %>
                  <% if @tours_search.blank? %>
                    <div class="col-lg-12" style="text-align: center;"><h5><%= t("Not_found")%></h5></div>
                  <% else %>
                    <% @tours_search.each do |tour| %>
                      <div class="col-lg-6 col-sm-8">
                        <%= render "tours/tour", tour: tour %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% @tours.each do |tour| %>
                    <div class="col-lg-6 col-sm-8">
                      <%= render "tours/tour", tour: tour %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
