<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= t("title.edit_post")%></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="central-meta">
      <div class="new-postbox">
        <figure>
          <%= image_tag "admin2.jpg" %>
        </figure>
        <div class="newpst-input">
          <%= form_with model: post do |f| %>
            <%= f.text_area :content, rows: "3", placeholder:  post.content %>
            <div class="attachments">
              <ul>
                <li>
                  <i class="fa fa-image"></i>
                  <label class="fileContainer">
                    <%= f.fields_for :image_attributes do |image_f| %>
                      <%= image_f.file_field :image_link, class: "input-file previewIMG" %>
                      <%= image_f.hidden_field :imageable_id, value: post.id %>
                      <%= image_f.hidden_field :imageable_type, value: "image" %>
                      <%= image_f.hidden_field :image_cache %>
                    <% end %>
                  </label>
                </li>
                <li>
                  <%= f.submit t("button.edit_post"), class: "btn btn-primary" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
