<div class="central-meta item" style="display: inline-block;">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <%= image_tag "friend-avatar10.jpg" %>
      </figure>
      <div class="friend-name">
        <ins><%= link_to post.user.name, "#" %></ins>
        <span><%= t("text.published") %>: <%= time_ago_in_words(post.created_at) %></span>
      </div>
      <div class="post-meta">
        <%= image_tag "user-post.jpg" %>
        <div class="we-video-info">
          <ul>
            <li>
              <span class="views" data-toggle="tooltip" title="" data-original-title="views">
                <i class="fa fa-eye"></i>
                <ins></ins>
              </span>
            </li>
            <li>
              <span class="comment" data-toggle="tooltip" title="" data-original-title="Comments">
                <i class="fa fa-comments-o"></i>
                <ins></ins>
              </span>
            </li>
            <li>
              <span class="like" data-toggle="tooltip" title="" data-original-title="like">
                <i class="ti-heart"></i>
                <ins></ins>
              </span>
            </li>
            <li>
              <span class="dislike" data-toggle="tooltip" title="" data-original-title="dislike">
                <i class="ti-heart-broken"></i>
                <ins></ins>
              </span>
            </li>
          </ul>
        </div>
        <div class="description">
          <p>
           <%= post.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
