<div class="new-postbox">
  <figure>
    <%= image_tag current_user.avatar.url || "default_avatar.png" %>
  </figure>
  <div class="newpst-input">
    <%= form_with model: post, local: true do |f| %>
      <%= f.text_area :content, rows: "3", placeholder: t("text.write_something") %>
      <div class="attachments">
        <ul>
          <li>
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <%= f.fields_for :image_attributes do |image_f| %>
                <%= image_f.file_field :image_link, class: "input-file previewIMG" %>
                <%= image_f.hidden_field :imageable_id, value: post.id %>
                <%= image_f.hidden_field :imageable_type, value: "image" %>
                <%= image_f.hidden_field :image_cache %>
              <% end %>
            </label>
          </li>
          <li>
            <%= f.submit t("button.post"), class: "btn btn-primary" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
