<div class="card">
  <div class="card-body">
    <h3 class="card-title" style="text-align: center;"><%= t("user_managerment")%></h3>
    <div class="table-responsive">
      <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table id="zero_config" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="zero_config_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 80px;">
                    <%= t("activerecord.attributes.name")%>
                  </th>
                  <th class="sorting" tabindex="0" ẩi-controls="zero_config" rowspan="1" colspan="1" ẩi-label="Ofice: activate to sỏt column ascending" style="width: 80px;">
                    <%= t("activerecord.attributes.image")%>
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150px;">
                    <%= t("activerecord.attributes.email")%>
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 80px;">
                    <%= t("activerecord.attributes.role")%>
                  </th>
                  <th style="width: 50px;"></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr role="row" class="odd">
                    <td class="sorting_1"><%= link_to user.name, admin_user_path(user) %></td>
                    <td>
                      <div class="p-2">
                        <%= image_tag user.image.image_link.to_s, alt: "user", width: "80", class: "rounded-circle" if user.image %>
                      </div>
                    </td>
                    <td><%= user.email %></td>
                    <td>
                      <%= form_for [:admin, user], method: :patch, value: user.id do |f| %>
                        <div class="form-group">
                          <%= f.select :role, options_for_select([["admin", :admin],["user", :user],["business", :business]], selected: user.role), {}, class: "form-control", id: "sel1" %>
                        </div>
                      <% end %>
                    </td>
                    <td>
                      <div id="block-<%= user.id %>">
                        <% if user.block? %>
                          <%= render "unlock_index", user: user %>
                        <% else %>
                          <%= render "lock_index", user: user %>
                        <% end %>
                      </div>
                      <%= link_to admin_user_path(user), method: :delete, data: { confirm: t("text.confirm") } do %>
                        <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= t("text.delete")%>!"><%= t("text.delete")%></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">
                    <%= t("activerecord.attributes.name")%>
                  </th>
                  <th rowspan="1" colspan="1">
                    <%= t("activerecord.attributes.image")%>
                  </th>
                  <th rowspan="1" colspan="1">
                    <%= t("activerecord.attributes.email")%>
                  </th>
                  <th rowspan="1" colspan="1">
                    <%= t("activerecord.attributes.role")%>
                  </th>
                  <th rowspan="1" colspan="1"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
