<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="widget">
          <div class="foot-logo">
            <div class="logo">
              <a href="index.html" title=""><%= image_tag "logo.png" %></a>
            </div>
            <p><%= I18n.t ".We_took_this_simple_idea_and_built_it_into_the_world_is_leading_travel_review_platform" %>
            </p>
          </div>
          <ul class="location">
            <li>
              <i class="ti-map-alt"></i>
              <p>Hoang Quoc Viet Street - Cau Giay District - Ha Noi City - Viet Nam</p>
            </li>
            <li>
              <i class="ti-mobile"></i>
              <p>+1-56-346 345</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4><%= I18n.t ".Follow" %></h4></div>
          <ul class="list-style">
            <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
            <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
            <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
            <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4><%= I18n.t ".Navigate" %></h4></div>
          <ul class="list-style">
            <li><a href="about.html" title="">about us</a></li>
            <li><a href="contact.html" title="">contact us</a></li>
            <li><a href="terms.html" title="">terms & Conditions</a></li>
            <li><a href="sitemap.html" title="">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4><%= I18n.t ".Userful_link" %></h4></div>
          <ul class="list-style">
            <li><a href="#" title="">leasing</a></li>
            <li><a href="#" title="">how does it work?</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4><%= t("text.language") %></h4></div>
          <div class="widget-title"><h4><%= I18n.t ".DOWNLOAD_APPS" %></h4></div>
          <ul class="colla-apps">
            <li><%= link_to t("button.english"), locale:"en" %></li>
            <li><%= link_to t("button.vietnam"), locale:"vi" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
