<div class="responsive-header">
  <div class="mh-head first Sticky">
    <span class="mh-btns-left">
      <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
    </span>
    <span class="mh-text">
      <a href="newsfeed.html" title=""><%= image_tag "logo2.png" %></a>
    </span>
    <span class="mh-btns-right">
      <a class="fa fa-sliders" href="#shoppingbag"></a>
    </span>
  </div>
  <div class="mh-head second">
    <form class="mh-form">
      <input placeholder="search" />
      <a href="#/" class="fa fa-search"></a>
    </form>
  </div>
  <nav id="menu" class="res-menu">
    <ul>
      <li><span><%= I18n.t ".home" %></span>
        <ul>
          <li><a href="index.html" title="">Home Social</a></li>
          <li><a href="index2.html" title="">Home Social 2</a></li>
          <li><a href="index-company.html" title="">Home Company</a></li>
        </ul>
      </li>
      <li><span><%= I18n.t ".Timeline" %></span>
        <ul>
          <li><a href="time-line.html" title="">timeline</a></li>
          <li><a href="timeline-friends.html" title="">timeline friends</a></li>
          <li><a href="timeline-pages.html" title="">timeline pages</a></li>
          <li><a href="fav-page.html" title="">favourit page</a></li>
          <li><a href="page-likers.html" title="">Likes page</a></li>
        </ul>
      </li>
      <li><span><%= I18n.t ".Account_Settings"  %></span>
        <ul>
          <li><a href="create-fav-page.html" title="">create fav page</a></li>
          <li><a href="edit-account-setting.html" title="">edit account setting</a></li>
          <li><a href="edit-password.html" title="">edit-password</a></li>
          <li><a href="edit-profile-basic.html" title="">edit profile basics</a></li>
          <li><a href="inbox.html" title="">Inbox</a></li>
          <li><a href="notifications.html" title="">notifications page</a></li>
        </ul>
      </li>
      <li><span>Our Blog</span>
        <ul>
          <li><a href="blog-grid-wo-sidebar.html" title="">Our Blog</a></li>
          <li><a href="blog-grid-right-sidebar.html" title="">Blog with R-Sidebar</a></li>
          <li><a href="blog-grid-left-sidebar.html" title="">Blog with L-Sidebar</a></li>
          <li><a href="blog-masonry.html" title="">Blog Masonry Style</a></li>
          <li><a href="blog-list-wo-sidebar.html" title="">Blog List Style</a></li>
          <li><a href="blog-list-right-sidebar.html" title="">Blog List with R-Sidebar</a></li>
          <li><a href="blog-list-left-sidebar.html" title="">Blog List with L-Sidebar</a></li>
          <li><a href="blog-detail.html" title="">Blog Post Detail</a></li>
        </ul>
      </li>
      <li><span>More pages</span>
        <ul>
          <li><a href="careers.html" title="">Careers</a></li>
          <li><a href="career-detail.html" title="">Career Detail</a></li>
          <li><a href="404.html" title="">404 error page</a></li>
          <li><a href="404-2.html" title="">404 Style2</a></li>
        </ul>
      </li>
      <li><a href="about.html" title="">about</a></li>
      <li><a href="contact-branches.html" title="">Contact Us2</a></li>
    </ul>
  </nav>
</div>
<div class="topbar stick">
  <div class="logo">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", alt:"logo"%>
    <% end  %>
  </div>
  <div class="top-area">
    <ul class="main-menu">
      <li>
        <a href="#" title=""><%= I18n.t ".Home" %></a>
        <ul>
          <li><a href="index.html" title="">Home Social</a></li>
          <li><a href="index2.html" title="">Home Social 2</a></li>
          <li><a href="index-company.html" title="">Home Company</a></li>
        </ul>
      </li>
      <li>
        <a href="#" title=""><%= I18n.t ".Timeline" %></a>
        <ul>
          <li><a href="time-line.html" title="">timeline</a></li>
          <li><a href="timeline-friends.html" title="">timeline friends</a></li>
          <li><a href="timeline-pages.html" title="">timeline pages</a></li>
          <li><a href="fav-page.html" title="">favourit page</a></li>
          <li><a href="groups.html" title="">groups page</a></li>
          <li><a href="page-likers.html" title="">Likes page</a></li>
        </ul>
      </li>
      <li>
        <a href="#" title=""><%= I18n.t ".More_Pages"  %></a>
        <ul>
          <li><a href="404.html" title="">404 error page</a></li>
          <li><a href="about.html" title="">about</a></li>
          <li><a href="contact.html" title="">contact</a></li>
          <li><%= link_to "English", locale:"en" %>
          </li>
          <li><%= link_to "Vietnamese", locale:"vi"%>
          </li>
        </ul>
      </li>
      <% if user_signed_in? %>
        <li>
            <%= image_tag current_user.avatar.url || "default_avatar.png" %>
            <%= current_user.name %>
          <ul>
            <li><%=link_to user_path(current_user) do %>
            <i class="ti-user"></i>
              <%= I18n.t ".view_profile" %>
            <% end %>
            </li>
            <li><%= link_to edit_user_path(current_user) do %>
              <i class="ti-pencil-alt"></i>
                <%= I18n.t ".edit_profile" %>
              <% end %>
            </li>
            <li><%= link_to edit_user_registration_path do %>
              <i class="ti-settings"></i>
                <%= (I18n.t ".Edit_Password") %>
              <% end %>
            </li>
            <li><%= link_to destroy_user_session_path,
              data: { confirm: "Sure ?" }, method: :delete do %>
              <i class="ti-power-off"></i>
                <%= I18n.t ".Log_Out" %>
              <% end %>
            </li>
          </ul>
          <a href="messages.html" title="" class="more-mesg">view more</a>
        </div>
      </li>
      <% else %>
        <%= link_to new_user_session_path do %>
        <i class="ti-crown"></i>
        <%= I18n.t ".Login" %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
