<div class="mh-head first mm-sticky mh-btns-left mh-btns-right mh-sticky">
  <div class="logo">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", alt:"logo"%>
    <% end  %>
  </div>
  <div class="top-area">
    <ul class="main-menu w-70">
      <li>
        <a href="#" title=""><%= I18n.t ".Home" %></a>
        <ul>
          <li><a href="index.html" title="">Home Social</a></li>
        </ul>
      </li>
      <li>
        <a href="#" title=""><%= I18n.t ".Timeline" %></a>
        <ul>
          <li><a href="time-line.html" title="">timeline</a></li>
        </ul>
      </li>
      <li>
        <%= link_to t("text.tour"), tours_path %>
        <ul>
          <li><a href="time-line.html" title=""></a></li>
          <li><a href="time-line.html" title=""></a></li>
        </ul>
      </li>
      <li>
        <a href="#" title=""><%= I18n.t ".More_Pages"  %></a>
        <ul>
          <li><a href="404.html" title="">404 error page</a></li>
          <li><a href="about.html" title="">about</a></li>
          <li><a href="contact.html" title="">contact</a></li>
          <li><%= link_to "English", locale:"en" %>
          </li>
          <li><%= link_to "Vietnamese", locale:"vi"%>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="main-menu">
      <% if user_signed_in? %>
        <li class="hash-children">
          <%= link_to users_path do %>
            <i class="ti-comment-alt"></i>
            Chat
          <% end %>
        </li>
        <li>
          <div class="user-img">
            <%= image_tag current_user.image.image_link.to_s if current_user.image.present? %>
          </div>
          <ul>
            <li><%=link_to user_path(current_user) do %>
            <i class="ti-user"></i>
              <%= I18n.t ".view_profile" %>
            <% end %>
            </li>
            <li><%= link_to edit_user_path(current_user) do %>
              <i class="ti-pencil-alt"></i>
                <%= I18n.t ".edit_profile" %>
              <% end %>
            </li>
            <li><%= link_to edit_user_registration_path do %>
              <i class="ti-settings"></i>
                <%= (I18n.t ".Edit_Password") %>
              <% end %>
            </li>
            <li><%= link_to destroy_user_session_path,
              data: { confirm: "Sure ?" }, method: :delete do %>
              <i class="ti-power-off"></i>
                <%= I18n.t ".Log_Out" %>
              <% end %>
            </li>
          </ul>
          <%= current_user.name %>
        </li>
      <% else %>
        <li class="hash-children">
          <%= link_to new_user_session_path do %>
            <i class="ti-crown"></i>
            <%= I18n.t ".Login" %>
          <% end  %>
        <li>
          <%= link_to users_path do %>
            <i class="ti-comment"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
