<!DOCTYPE html>
<html>
  <head>
    <title>Winku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="<%= user_signed_in? ? current_user.id : "  " %>" name="user-id"/>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
